 .u-section-1 {
  background-image: none;
  min-height: 616px;
}

.u-section-1 .u-shape-1 {
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 556px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 398px;
  height: 398px;
  margin: 49px auto 0 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 556px;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 0;
}

.u-section-1 .u-group-1 {
  min-height: 288px;
  height: auto;
  width: 446px;
  margin: 76px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 534px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 414px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 35px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 567px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 297px;
    height: 297px;
    margin-top: 41px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 439px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 858px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 73px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 426px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -341px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
    min-height: 299px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 440px;
    margin-bottom: -368px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 883px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: -379px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 369px;
    margin-bottom: -369px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 68px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  width: 564px;
  margin: 110px auto 60px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 265px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 145px;
}

.u-section-3 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  margin: 0 30px;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 102px;
  min-width: 70px;
  margin: 7px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}